<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel=stylesheet type="https://gl.githack.com/unesp-labri/sites/host-css-js/-/raw/master/fsp-css/reset.css">
        <link rel=stylesheet type="template/reset.css">
        <link rel=stylesheet type="text/css" href="template/style.css">
        <link rel=stylesheet type="text/css" href="https://gl.githack.com/unesp-labri/sites/host-css-js/-/raw/master/fsp-css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="origem" content="planalto">
        <meta name="titulo" content=Artigo - A nossa Amazônia>
        <meta name="subtitulo" content="CONTEUDO">
        <meta name="autores" content="CONTEUDO">
        <meta name="data" content="21/04/2020 13h53">
        <meta name="atualizado_em" content="28/08/2021 15h36">
        <meta name="classificado" content="noticia">
        <meta name="tags" content="['Tags: ', 'Artigo', 'A nossa Amazônia', ' Vice-presidente da República']">
        <meta name="link" content="CONTEUDO">
    </head>
    <body>
        <div class="container">
            <header class="negrito" id="conteudo-principal">
                <h2>
                    <span class="info-head">Origem: Planalto</span>
                </h2>
                <h2>
                    <span class="info-head">Classificado como : noticia</span>
                </h2>
                <h2>
                    <span class="info-head">Data: 21/04/2020 13h53</span>
                </h2>
                <h2>
                    <span class="info-head">Atualizado em: 28/08/2021 15h36</span>
                </h2>
            </header>
            <article class="texto-conteudo" id="conteudo-principal">
                <div class="head-noticia">
                    <h1>Artigo - A nossa Amazônia</h1>
                    <p>NA</p>
                    <p>NA</p>
                </div>
                <div class="corpo-noticia">
                    <p>No contexto de uma campanha internacional movida contra o Brasil, ressurgiu a antiga pretensão de relativizar, ou mesmo neutralizar, a soberania brasileira sobre a parte da região amazônica que nos cabe, a nossa Amazônia.</p>
                    <p>Acusações de maus tratos a indígenas, uso indevido do solo, desflorestamento descontrolado e inação governamental perante queimadas sazonais compõem o leque da infâmia despejada sobre o País, a que se juntou a nota diplomática do governo francês ofensiva ao presidente da República e aos brasileiros.</p>
                    <p>O Brasil não mente. E tampouco seu presidente, seu governo e suas instituições.</p>
                    <p>Em primeiro lugar porque o Brasil tem a seu lado a História, sobre a qual, em consideração à memória nacional, devemos nos debruçar. </p>
                    <p>A Amazônia que nos pertence foi conquistada no tempo em que só a ação intimorata garantia direitos.  Depois da expulsão dos franceses de São Luís (1615) e da fundação do forte do Presépio, a futura Belém (1616), corsários ingleses e holandeses foram combatidos e expulsos da foz do rio Amazonas. A União Ibérica (1580-1640) ofereceu oportunidade para que bandeirantes e exploradores rompessem as Tordesilhas, um  desenvolvimento histórico que tem na primeira navegação da foz à nascente do Amazonas (1637), façanha cometida por  Pedro Teixeira, seu marco definitivo. </p>
                    <p>Foram fortalezas que prefiguraram a ocupação e a delimitação da Amazônia brasileira.  Foi a catequese que aglutinou os indígenas sob a proteção da cruz, favorecendo a miscigenação que fomentou o povoamento da região. A fundação do forte de São José do Rio Negro, na confluência do rio Negro com o Solimões (1663), reuniu em seu entorno índios barés, baniuas e passés, dando origem à povoação que viria a se transformar na cidade de Manaus.</p>
                    <p>Após a Independência, em nossa primeira legislatura, quando a pretensão estrangeira de impor um monopólio de navegação no Amazonas ousou atribuir aos brasileiros a pecha de ignorantes, coube ao Senado devolvê-la lembrando que cabia aos brasileiros a primazia dos descobrimentos sobre a região, conforme atestado pelo próprio Humbolt.  </p>
                    <p>E no início do século XX, enquanto a Europa se dilacerava nos campos de batalha da Primeira Guerra Mundial, um dos nossos maiores soldados, Cândido Mariano da Silva Rondon, completava sua campanha sertanista (1915-1919) no  Mato Grosso levantando cartograficamente os vales do Araguaia e as cabeceiras do Xingu; descobrindo minas de sulfeto de ferro, ouro, diamantes, manganês, gipsita, ferro e mica; e o mais importante, fazendo amigas as nações nhambiquara, barbados, quepi-quepi-uats, pauatês, tacuatés, ipoti-uats, urumis, ariquemes e urupás que ao final da ciclópica empreitada apontavam para as armas dos exploradores e diziam: “enombô, paranã! Dorokói pendehê”(joguem no rio, a guerra acabou).</p>
                    <p> Epopeia consumada, mas por concluir, na qual o Brasil jamais prescindiu da cooperação das nações condôminas desse patrimônio reunidas no Pacto Amazônico, que comemorou, no ano passado, 40 anos de sua assinatura, o qual, pela sua finalidade e clareza de propósitos, dispensa protagonismos de última hora movidos por interesses inconfessáveis. Se existisse algum protagonismo nacional na Amazônia sul-americana compartilhada por nove países, algo que o Brasil nunca avocou, ele seria, pelos números, pela presença e pela História, brasileiro.  </p>
                    <p>Se a História dá razão ao Brasil em qualquer debate sobre a Amazônia, cabe colocar, em segundo lugar, que ele tem a seu favor os fatos.</p>
                    <p>Não há país que combine legislação ambiental, produtividade agropecuária, segurança alimentar e preservação dos biomas com mais eficiência, eficácia e efetividade do que o Brasil. Não bastassem todos os dados legais e científicos, sobejamente conhecidos, que comprovam essa assertiva, tomem-se, não as palavras, mas os atos do governo brasileiro no sentido de combater queimadas e apurar crimes de toda natureza praticados na região amazônica, o que desqualifica as desproporcionais acusações e agressões desferidas contra o País por causa do meio ambiente.</p>
                    <p>E se não bastassem a História e os fatos, cabe apontar o que se revela nas declarações oficiais, nas confidências mal escondidas, nas entrelinhas dos comunicados e no ecorradicalismo incensado pela imprensa: a velha ambição disfarçada por filantropia de fachada.   </p>
                    <p>É inacreditável que, em um momento no qual guerras comerciais e protecionismos turvam o horizonte mundial, e sejam publicamente condenados em todas as instâncias internacionais responsáveis, líderes de países europeus venham, individualmente ou em conjunto, tomar inciativas contra o livre comércio, procurando sabotar acordos históricos como o firmado entre a União Europeia e o Mercosul e entre este e os países do Efta (Noruega, Suíça, Islândia e Liechtenstein). </p>
                    <p>Como é inacreditável que pessoas que até pouco tempo ocupavam cargos públicos se esqueçam de uma das linhas mestras da diplomacia do Brasil, a de preservar a liberdade de interpretar a realidade do País e de encontrar soluções brasileiras para os problemas brasileiros, conforme colocadas pelo Chanceler Horácio Lafer em 1959.</p>
                    <p>Nada disso prevalecerá. O Brasil não tem tempo a perder. Com trabalho, coragem e determinação ele encontrará o seu destino de grandeza: ser a mais pujante e próspera democracia liberal do Hemisfério Sul.</p>
                    <p>E por qualquer perspectiva, da preservação ao desenvolvimento, da  defesa à segurança, da História ao Direito, a nossa Amazônia continuará a ser brasileira. E nada exprime melhor isso do que a canção do internacionalmente reconhecido Centro de Instrução de Guerra na Selva:</p>
                    <p></p>
                    <p>À Amazônia inconquistável o nosso preito,</p>
                    <p>A nossa vida por tua integridade</p>
                    <p>A nossa luta pela força do direito</p>
                    <p>Com o direito da força por validade</p>
                    <p></p>
                    <p>* Vice-presidente da República</p>
                </div>
            </article>
            <div class="referencia">
                <h2>Como citar</h2>
            </div>
        </div>
        <footer class="aviso">
            <div class="aviso-texto">AVISOS</div>
            <field1 name="blah">some value1</field1>
        </footer>
    </body>
</html>