<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel=stylesheet type="https://gl.githack.com/unesp-labri/sites/host-css-js/-/raw/master/fsp-css/reset.css">
        <link rel=stylesheet type="template/reset.css">
        <link rel=stylesheet type="text/css" href="template/style.css">
        <link rel=stylesheet type="text/css" href="https://gl.githack.com/unesp-labri/sites/host-css-js/-/raw/master/fsp-css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="origem" content="planalto">
        <meta name="titulo" content=E Viva a nossa Amazônia!>
        <meta name="subtitulo" content="CONTEUDO">
        <meta name="autores" content="CONTEUDO">
        <meta name="data" content="05/09/2021 10h47">
        <meta name="atualizado_em" content="15/09/2021 15h13">
        <meta name="classificado" content="noticia">
        <meta name="tags" content="não possui tags">
        <meta name="link" content="CONTEUDO">
    </head>
    <body>
        <div class="container">
            <header class="negrito" id="conteudo-principal">
                <h2>
                    <span class="info-head">Origem: Planalto</span>
                </h2>
                <h2>
                    <span class="info-head">Classificado como : noticia</span>
                </h2>
                <h2>
                    <span class="info-head">Data: 05/09/2021 10h47</span>
                </h2>
                <h2>
                    <span class="info-head">Atualizado em: 15/09/2021 15h13</span>
                </h2>
            </header>
            <article class="texto-conteudo" id="conteudo-principal">
                <div class="head-noticia">
                    <h1>E Viva a nossa Amazônia!</h1>
                    <p>NA</p>
                    <p>NA</p>
                </div>
                <div class="corpo-noticia">
                    <p>Neste Dia da Amazônia, o manto que dificulta o entendimento da necessidade do desenvolvimento sustentável da região deve ser retirado, mostrando a todos a realidade enfrentada pela população da maior e mais preservada floresta tropical do mundo.</p>
                    <p>Após a promulgação da Constituição de 88, momento em que direitos e deveres foram assinalados, aliado à crescente evolução científico-tecnológica, o país já poderia ter alcançado melhores resultados sustentáveis, ocupação ordenada e uso adequado do solo, subsolo e biodiversidade naquela região. Tendo sido injustificadamente abandonados, os projetos de assentamento e colonização agrícola da Amazônia foram deixados à própria sorte e à mercê de grileiros, posseiros e grandes latifundiários, gerando uma ocupação desordenada e predatória da região, particularmente nos eixos das grandes estradas, que também foram largadas, colocando a região em isolamento e clima de abandono, abrindo espaço para uma corrida desenfreada pela posse, grilagem e ocupação ilegal.</p>
                    <p>É tempo de retomada, de modificarmos este cenário, seja no campo das ações e implementação de projetos, seja na substituição de narrativas enviesadas, internacional e nacional, pela narrativa pró-Amazônia. A proposta é ambiciosa e desafiadora, mas factível. É o que busca o Conselho Nacional da Amazônia Legal (CNAL), o qual presido, fazendo valer as 3 vertentes que balizam os seus trabalhos: Proteger, Preservar e Desenvolver a região, de forma continuada e sustentável. Nosso Governo não merece mais, inveridicamente, ser rotulado de vilão ambiental por conta de erros cometidos na gestão ambiental do passado, habilmente orquestrados por grupos políticos e econômicos a quem convém manter o Brasil na defensiva, tentando justificar suas ações na região como se fôssemos maus inquilinos da propriedade alheia ou não soubéssemos cuidar do que é nosso.</p>
                    <p>A Amazônia Brasileira não é o jardim zoológico do mundo, é um local habitado que busca encontrar o desenvolvimento sustentável. Mais de 25 milhões de brasileiros vivem na Amazônia Legal, com baixos índices de desenvolvimento humano. Nosso foco não deve ser apenas a repressão aos ilícitos ambientais, ao contrário, devemos intensificar a regularização fundiária, o zoneamento ecológico-econômico e a agregação de valor às produções, melhorando e ampliando as infraestruturas necessárias para proporcionar ganhos de qualidade de vida para aquelas populações locais. Proteção, Preservação e Desenvolvimento podem coexistir harmonicamente em prol de um Brasil cada vez melhor e mais justo.</p>
                    <p>Tudo isso pode e deve ser feito com os necessários cuidados com o meio ambiente. Mas para que essa agenda nacional seja posta em prática, um pré-requisito fundamental será deixar de lado os mitos e a histeria sobre a região. A proposta é ambiciosa e exige fôlego, vontade política e esforço coordenado do Governo Federal, governos estaduais e municipais e de toda sociedade, conseguindo unir os 3 eixos de trabalho do CNAL e atendendo às reais necessidades levantadas pelos moradores da região, sempre tendo em vista o seu bem-estar. Tudo pela Amazônia. SELVA!</p>
                    <p></p>
                    <p>Publicado em O Liberal Amazônia - 05/09/2021</p>
                </div>
            </article>
            <div class="referencia">
                <h2>Como citar</h2>
            </div>
        </div>
        <footer class="aviso">
            <div class="aviso-texto">AVISOS</div>
            <field1 name="blah">some value1</field1>
        </footer>
    </body>
</html>