<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel=stylesheet type="https://gl.githack.com/unesp-labri/sites/host-css-js/-/raw/master/fsp-css/reset.css">
        <link rel=stylesheet type="template/reset.css">
        <link rel=stylesheet type="text/css" href="template/style.css">
        <link rel=stylesheet type="text/css" href="https://gl.githack.com/unesp-labri/sites/host-css-js/-/raw/master/fsp-css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="origem" content="planalto">
        <meta name="titulo" content=O que os brasileiros esperam de suas Forças Armadas>
        <meta name="subtitulo" content="CONTEUDO">
        <meta name="autores" content="CONTEUDO">
        <meta name="data" content="06/04/2021 09h13">
        <meta name="atualizado_em" content="28/08/2021 15h36">
        <meta name="classificado" content="noticia">
        <meta name="tags" content="não possui tags">
        <meta name="link" content="CONTEUDO">
    </head>
    <body>
        <div class="container">
            <header class="negrito" id="conteudo-principal">
                <h2>
                    <span class="info-head">Origem: Planalto</span>
                </h2>
                <h2>
                    <span class="info-head">Classificado como : noticia</span>
                </h2>
                <h2>
                    <span class="info-head">Data: 06/04/2021 09h13</span>
                </h2>
                <h2>
                    <span class="info-head">Atualizado em: 28/08/2021 15h36</span>
                </h2>
            </header>
            <article class="texto-conteudo" id="conteudo-principal">
                <div class="head-noticia">
                    <h1>O que os brasileiros esperam de suas Forças Armadas</h1>
                    <p>NA</p>
                    <p>NA</p>
                </div>
                <div class="corpo-noticia">
                    <p>É bom que os brasileiros se preocupem com o que fazem, ou podem fazer, as suas Forças Armadas. Afinal, a sua segurança e, em última instância, a garantia da Lei e da Ordem delas dependem, isso para não falar do enfrentamento de situações de crise que ultrapassam as capacidades das agências governamentais e requerem o emprego das competências logísticas e organizacionais das forças singulares (Marinha do Brasil, Exército Brasileiro e Aeronáutica). </p>
                    <p>Hoje, no entanto, a sociedade brasileira espera algo mais de seus militares.  </p>
                    <p>Desde antes da pandemia do COVID-19, o Brasil enfrenta uma situação difícil causada pela postergação de reformas imprescindíveis - a tributária, a administrativa e a política - e pelo desvirtuamento da administração pública atingida em cheio pela corrupção e clientelismo político. Nas eleições de 2018, o País fez uma clara escolha pela condenação do maior caso de corrupção da História, por reformas que promovam a retomada do desenvolvimento e pelo combate à violência, compromissos deste governo com a sociedade brasileira.  </p>
                    <p>Os militares que foram chamados a trabalhar no governo que se iniciou em janeiro de 2019 vieram tão somente participar, como cidadãos no pleno exercício de seus direitos e como profissionais de Estado capazes, do esforço de racionalização, efetividade e moralização da administração pública, em prol do soerguimento do País. </p>
                    <p>Para tarefa de tal monta, pode parecer pouco o mero aporte de valores caros à profissão militar, como lealdade e probidade, e de competência técnica, requerida a qualquer função no serviço público. Mas é muito para um País que teve sua máquina administrativa aparelhada pela política partidária e, não raro, pela ideologia.  </p>
                    <p>E é esse pouco, que é muito em termos de contribuição à administração pública, porventura tido por excessivo em termos numéricos, mas que, na verdade, é ínfimo se comparado às bateladas de cargos comissionados ou simplesmente inventados que incharam a máquina administrativa nos últimos governos, que vem prejudicando o entendimento do papel dos militares no Brasil, neste e em outros momentos. </p>
                    <p> Não é a presença de militares no governo que o define. Sempre houve e continuará a haver militares no governo. Estejam onde eles estiverem, na ativa ou na reserva, nos quarteis ou em repartições, os militares são cumpridores de suas obrigações e deveres. Se assim não fosse, o País viveria uma anarquia armada incompatível com a democracia. E os militares simplesmente não seriam militares. A questão é outra. </p>
                    <p>As Forças Armadas são instituições de Estado porque são regulares, permanentes, nacionais e se destinam à defesa da Pátria e à garantia dos poderes constitucionais, estando sob a autoridade do presidente da República que é responsável perante os demais Poderes e a Nação pelas ordens que transmite a elas.  </p>
                    <p>No que diz respeito aos militares, em qualquer país do mundo, o que distingue as democracias das ditaduras são as ordens que lhes são dadas, e o mais importante, como eles as obedecem. Nas democracias, as ordens são legais e emitidas por quem de direito, sendo integralmente cumpridas na forma da Lei. Fora disso, transita-se perigosamente entre a desordem e o autoritarismo. Políticos e soldados profissionais das grandes democracias já sabem disso. </p>
                    <p>Recentemente, o mundo assistiu com alguma perplexidade, a Junta de Chefes de Estado-Maior dos Estados Unidos, os comandantes das Forças Armadas norte-americanas, virem a público garantir a transição presidencial na maior democracia do mundo, em meio a contestações ao processo eleitoral e aos tumultos que atingiram a sede do Legislativo em Washington, DC. Nenhuma democracia está livre de crises e os seus militares fazem parte de sua superação.  </p>
                    <p>O presente ordenamento constitucional do Brasil é fruto de uma longa evolução ocorrida desde a Independência, cujo Bicentenário comemoraremos no ano que vem. Deixamos para trás um regime que não mais atendia às aspirações da cidadania, uma república calcada na fraude eleitoral, um federalismo de oligarquias e seguidas revoltas, revoluções, autoritarismos e ditadura que envolveram os militares. Goste-se ou não, foi o regime instalado em 1964 que fortaleceu a representação política pela legislação eleitoral, que deu coerência à União e afastou os militares da política, legando ao atual regime, inaugurado em 1985, escoimado de instrumentos de exceção, uma república federativa à altura do Brasil.  </p>
                    <p>Uma compreensão mais equilibrada e menos passional do passado do País pode nos ajudar a entender o presente e os caminhos que se abrem à nossa frente. Por tudo o que aconteceu ao longo da História do Brasil, a sociedade brasileira sabe que as Forças Armadas continuarão a cumprir rigorosamente suas missões constitucionais.  </p>
                    <p>Mas neste momento de dificuldades por que passa o País, ela espera mais. Ela conta que seus militares, da ativa e da reserva, não se esqueçam dos seus compromissos com a Pátria que juraram defender, servindo-a com ou sem uniforme, ciosos de sua cidadania, orgulhosos do que fizeram e confiantes no que podem fazer de bom para o bem do País. </p>
                    <p>É o que os brasileiros esperam de suas Forças Armadas. </p>
                    <p>* Vice-Presidente da República </p>
                    <p>Publicado em O Estado de S. Paulo - 06/04/2021 </p>
                </div>
            </article>
            <div class="referencia">
                <h2>Como citar</h2>
            </div>
        </div>
        <footer class="aviso">
            <div class="aviso-texto">AVISOS</div>
            <field1 name="blah">some value1</field1>
        </footer>
    </body>
</html>