<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link, rel=stylesheet, type="https://gl.githack.com/unesp-labri/sites/host-css-js/-/raw/master/fsp-css/reset.css">
        <field2 name="asdfasd">a</field2>
        <field2 name="asdfasd">b</field2>
        <field2 name="asdfasd">c</field2>
    </head>
    <body>
        <header>
            <field1 name="blah">some value1</field1>
        </header>
        <div class="container">
            <article name="blah">some value1</article>
        </div>
        <footer>
            <field1 name="blah">some value1</field1>
        </footer>
    </body>
</html>