<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel=stylesheet type="https://gl.githack.com/unesp-labri/sites/host-css-js/-/raw/master/fsp-css/reset.css">
        <link rel=stylesheet type="template/reset.css">
        <link rel=stylesheet type="text/css" href="template/style.css">
        <link rel=stylesheet type="text/css" href="https://gl.githack.com/unesp-labri/sites/host-css-js/-/raw/master/fsp-css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="local" content="CONTEUDO">
        <meta name="titulo" content="CONTEUDO">
        <meta name="subtitulo" content="CONTEUDO">
        <meta name="autores" content="CONTEUDO">
        <meta name="data" content="CONTEUDO">
        <meta name="atualizado_em" content="CONTEUDO">
        <meta name="categoria" content="CONTEUDO">
        <meta name="tags" content="CONTEUDO">
        <meta name="classificado_como" content="CONTEUDO">
        <meta name="link" content="CONTEUDO">
    </head>
    <body>
        <div class="container">
            <header class="negrito" id="conteudo-principal">
                <h2>
                    <span class="info-head">Local</span>
                </h2>
                <h2>
                    <span class="info-head">Local</span>
                </h2>
                <h2>
                    <span class="info-head">Local</span>
                </h2>
                <h2>
                    <span class="info-head">Local</span>
                </h2>
            </header>
            <article name="blah">some value1</article>
        </div>
        <footer>
            <field1 name="blah">some value1</field1>
        </footer>
    </body>
</html>